body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #414c5e;
}

.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
  animation-name: shrink;
  animation-duration: 2s;
  -webkit-animation-name: shrink;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes shrink {
    from {
        -webkit-transform:scale(1);
    }
    to {
        -webkit-transform:scale(0);
    }
}
